@charset "utf-8";

.cursor-pointer {
    cursor: pointer;
}

// #hangup-btn, #call-btn, #broadcast-btn, #stop-broadcasting-btn {
//     display: none;
// }

html, body, .main, .main>.row {
    height: 100%;
}
.main-video-block {
    height: 600px;
    background: black;
    position: relative;
}
.main-video-wrapper {
    height: 100%;
    /* === 為了讓裡面的 video 置中 === */
    display: flex; 
    align-items: center;
    justify-content: center;
    /* ============================ */
}
.main-video-wrapper > video {
    max-width: 100%;
    max-height: 100%;
}

#local-container {
    width: 100%;
}
#local-container video {
    max-width: 100%;
}
.dashboard {
    background-color: #eee;
    width: 140px;
    height: 100%;
    display: inline-block;
    padding: 8px;
    float: left;
}
.student-screens-container {
    height: 100%;
    width: calc( 100% - 160px );
    display: inline-block;
    padding: 12px 0px;
    float: left;
}
.student-screen-component {
    line-height: 0.5;
    display: inline-block;
    border: 1px solid #ffa300;
    margin-right: 12px;
    cursor: pointer;
}
.student-screen-component > .student-user-id {
    background-color: #ffa300;
    color: white;
    padding: 4px 8px;
    font-weight:bold;
    line-height: 1.2;
}
.student-video-wrapper{
    height: 120px;
    width: 240px;
    text-align: center;
    background-color: black;
}
.student-video-wrapper > video {
    max-height: 100%;
    max-width: 100%;
}
.operation-buttons-container {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 8px;
    display: none;
}
.teacher-cam-container {
    width: 100%;
    height: 160px;
    position: absolute;
    background: black;
    /* === 為了讓裡面的 video 置中 === */
    display: flex; 
    align-items: center;
    justify-content: center;
    /* ============================ */
}
.teacher-cam-container video {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}
.teacher-screen-container video {
    max-width: 640px;
}
.messages-container-wrapper {
    padding-top: 172px;
    height: 100%;
    padding-bottom: 60px;
}
.messages-container {
    height: 100%;
    background-color: white;
    overflow-y: scroll;
}
.message-input {
    margin-top: -52px;
}
.message-bubble {
    float: left;
    border-radius: 8px;
    background-color: #eee;
    padding: 6px 12px;
    margin: 0px 0px 8px 8px;
    max-width: 80%;
}
.message-bubble.self {
    float: right;
    color: white;
    background-color: #44d;
}
.message-bubble.teacher {
    color: white;
    background-color: #4daf4d;
}
.message-bubble p {
    margin: 0px;
}
